{% extends "base.html"%}
{%block title%} {{block.super}} | Index2 {%endblock title%}

 {%block content%}
 <h1>PRIMO PROGETTO - ROOT MENU'</h1>
 <ol>
     <li><a href="/admin">Pannello admin</a></li>
     <li><a href="{% url 'prima_app:index'%}">Index prima app</a></li>
     <li><a href="{% url 'seconda_app:index'%}">Index seconda app</a></li>
     <li><a href="{% url 'news:index'%}">Index news</a></li>
     <li><a href="{% url 'voti:index'%}">Index voti</a></li>
     <li><a href="{% url 'eventi:index'%}">Index eventi</a></li>
     <li><a href="{% url 'corsi_formazione:index'%}">Index corsi</a></li>
     <li><a href="{% url 'forms_app:contatti'%}">Contattaci</a></li>
     <li><a href="{% url 'forms_app:lista_contatti'%}">Lista contatti</a></li>
 </ol>
 {%endblock content%}
